<!DOCTYPE html>
<html lang="ZH-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>练习vue.js</title>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<!-- <div id="app">
  <ol>
  	<li v-for="site in sites">
  		{{ site.name }}
  	</li>
  </ol>
</div> -->

<div id="app">
	<ul>
		<template v-for="site in sites">
		<li>{{ site.name }}</li>
		<li>---------------</li>
		</template>
	</ul>
</div>

<script>
	new Vue({
		el:'#app',
		data:{
			sites:[
			{name:'Runoob'},
			{name:'Google'},
			{name:'Taobao'}
			]
		}
	})
</script>

</body>
</html>